@model IEnumerable<WebApplicationList13X.Models.Article>

@{
    ViewData["Title"] = "Shop";
}

<link rel="stylesheet" href="~/css/site.css" />
<table>
    <tr>
        <td class="side-menu-div">
            <ul class="side-menu">
                @foreach (var item in ViewBag.Category)
                {
                    <li><a asp-action="Index" asp-route-id="@item.Id">@item.Name</a></li>
                }
            </ul>
        </td>
        <td>
            <h1>Shop</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th>
                            Image
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </td>
                            <td>
                                @if (item.ImageUri == null)
                                {
                                    <img src="~/image/default.jpg" class="img-preview" />
                                }
                                @if (item.ImageUri != null)
                                {
                                    <img src="~/upload/@item.ImageUri" class="img-preview" />
                                }
                            </td>
                            <td>
                                <a asp-action="AddToCArt" asp-route-id="@item.Id">Add to cart</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
    </tr>
</table>
